 body{
     text-align: center;
     font-family: merriweather;
 }
 .topHeader{
    background-image: url("/backgrounds/h_img.jpg");
    text-align: center;
    color: white;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 2%;
    
}
h1{
    font-size: xx-large;
    font-weight: bolder;
}
#oval {
    border: 2px solid white;
    margin-right: 750px;
    margin-left: 750px;
    margin-top: 420px;
    padding-top: 0%;
    border-radius: 40%;
}
#circle {
    border: 3px solid white;
    margin-right: 720px;
    margin-left: 720px;
    border-radius: 50%;
}
.services {
    background-image: url("../backgrounds/s_image.jpg");
    background-size: cover;
    margin-top: 0%;
    color: rgb(255, 255, 255);
    padding-top: 8%;
    padding-bottom: 5%;
}
.jumbotron{
    margin-bottom: 0%!important;
    background-color: beige;
}
.whatWeDo{
    padding: 5px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.servicesIcons{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;

}
.portfolio1{
    display: flex;
    flex-direction: rox;
    justify-self: space-evenly;
    padding: 10px;
}
.portfolio2{
    display: flex;
    flex-direction: rox;
    justify-self: space-between;
    padding: 10px;
}
.contactsUs{
    background-image: url("/backgrounds/c_image.jpg");
    background-size: cover;
    padding-top: 40px;
    color: white;
}