.topHeader{
    background-image: url("/backgrounds/h_img.jpg");
    text-align: center;
    color: white;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 2%;
    
}
h1{
    padding: 20px;
    font-size: xx-large;
    font-weight: bolder;
    padding-left: 2%;
}
#oval {
    border: 2px solid white;
    margin-right: 900px;
    margin-left: 700px;
    margin-top: 420px;
    padding-top: 0%;
    border-radius: 80%;
}
#circle {
    border: 3px solid white;
    margin-right: 700px;
    margin-left: 700px;
    border-radius: 50%;
}